.upblock{
   
    width: auto;
    padding: 37px;
    border: 0px solid gray;
    background: #0d7d21;
}
#secondblock{
    padding: 35px;
    border: 1px solid gray;
    background: #90cd56;
    margin: -4px 0px -13px 0px;

}
#logo{
    margin: -71px 10px 10px 10px;
}
.nav{
    margin: 10px 10px 10px 270px;
}
.nav ul li{
    display: inline;
    
}
.about{
    margin: 10px 10px 10px 319px;
    color: #444;
}
.container2{
    margin: 10px 10px 10px 253px;
}
.gallery1{
   
    margin: 10px 10px 10px 11px;

}
.gallery2{

    margin: -380px 10px 10px 371px;
}

.gallery3{

    
    margin: -381px 10px 10px 686px;

}
.gallery4{

}
.gallery5{

}
.gallery6{

}
.gallery7{

}
.gallery8{

}
.gallery9{

}
.gallery10{

}
.gallery11{

}
.gallery12{

}


tr{
display:block;
}

button:link {
color: red;
}

/* visited link */
button:visited {
color: green;
}

/* mouse over link */
.nav2.button:hover {
color: hotpink;
}

/* selected link */
button:active {
color: blue;
}
.nav2{
   
    width: 100%;
    text-align: center;
    
}
.nav2 button{
    font-size: 18px;
    border: 1px solid #29509f;
    border-radius: 5px;
    text-align: center;
    color: #29509f;
    margin-bottom: 30px;
    background-color: #FFF;
    text-decoration: none;
}